<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>JJSploit Extended - Official Site</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="icon" type="image/x-icon" href="Resources/Logo.ico">
</head>
<body>
    <div class="navBar">
        <p onclick="window.location.assign('/suggestions');">Suggestions</p>
        <p onclick="window.open('https://github.com/Charlzk05/JJSploit-Extended/releases')">Download</p>
    </div>
    <div class="sideBar">
        <p onclick="about_click()">About</p>
        <p onclick="installation_click()">Installation</p>
        <p onclick="antiVirus_click()">Excluding from anti-virus software</p>
        <p onclick="instructions_click()">Instructions</p>
        <p onclick="requirements_click()">Requirements</p>
        <p onclick="development_click()">Development</p>
    </div>
    <div class="main">
        <div class="slideShow">
            <button onclick="backSlide_click()"><</button>
            <img src="Resources/Slide 1.png" class="imgActive">
            <img src="Resources/Slide 2.png" class="imgInactive">
            <img src="Resources/Slide 3.png" class="imgInactive">
            <img src="Resources/Slide 4.png" class="imgInactive">
            <button onclick="forwardSlide_click()">></button>
        </div>
        <div class="buttons">
            <button onclick="window.open('https://github.com/Charlzk05/JJSploit-Extended/releases')">Download</button>
        </div>
        <h1>JJSploit Extended</h1>
        <p>Unofficial open source and extended version of JJSploit made using Electron JS for user interface and .NET Framework 4.8 for ExploitAPI.</p>
        <hr>
        <h1>Installation</h1>
        <ol>
            <li>Download JJSploit Ext</li>
            <li>Extract the file</li>
            <li>Open "JJSploit Ext.exe"</li>
            <li>Enjoy!</li>
        </ol>
        <hr>
        <h1>Excluding from anti-virus software</h1>
        <p>Unfortunately, WeAreDevsAPI has always had issues with anti-virus software due to the nature of how it works. WeAreDevsAPI uses techniques that are also commonly used by malicious programs, which causes false positives in anti-virus software.</p>
        <p>To begin, launch the "Windows Security" app from the start menu.</p>
        <img src="Resources/1.png">
        <p>Then, select the "Virus & threat protection" tab.</p>
        <img src="Resources/2.png">
        <p>Select "Manage settings."</p>
        <img src="Resources/3.png">
        <p>Scroll down to the 'Add or remove exclusions' section.</p>
        <img src="Resources/4.png">
        <p>Finally, pick the directory that we extracted earlier from the zip file by clicking "Add an exclusion," "Folder," and then "Folder".</p>
        <img src="Resources/5.png">
        <hr>
        <h1>Instructions</h1>
        <ol>
            <li>Join a game (make sure the exploit is opened)</li>
            <li>In the top right corner, click the attach button</li>
            <li>Wait for the notification to show up in the game's bottom right corner</li>
        </ol>
        <hr>
        <h1>Requirements</h1>
        <ul>
            <li><a href="https://dotnet.microsoft.com/en-us/download/dotnet-framework/net48">.NET Framework 4.8</a></li>
        </ul>
        <h2>OS Requirements</h2>
        <p>Windows</p>
        <ul>
            <li>Windows 7 and later are supported, older operating systems are not supported (and do not work).</li>
            <li>Both x86 and amd64 (x64) binaries are provided for Windows. Please note, the ARM version of Windows is not supported for now.</li>
        </ul>
        <h2>Hardware Requirements</h2>
        <p>About RAM and CPU, there are no information about that in Electron's docs, but Electron is based on Chromium, so it should need nearly the same requirements.</p>
        <p>Windows</p>
        <ul>
            <li>An Intel Pentium 4 processor or later that's SSE2 capable</li>
            <li>512 MB of RAM</li>
        </ul>
        <hr>
        <h1>Development</h1>
        <p style="font-family: 'Courier New', Courier, monospace; background-color: #232323; border-radius: 5px; padding: 5px;">git clone https://github.com/Charlzk05/JJSploit-Extended</p>
    </div>

    <script src='main.js'></script>
</body>
</html>