#JJSploit UI Electron
JJSploit\ Extended\ UI\ Electron/out
JJSploit\ Extended\ UI\ Electron/node_modules
JJSploit\ Extended\ UI\ Electron/src/page/Console\ App
JJSploit\ Extended\ UI\ Electron/src/page/JJSploit\ Extended\ Server.zip


#JJSploit Extended Console App
JJSploit\ Extended\ Console\ App/.vs
JJSploit\ Extended\ Console\ App/JJSploit Extended Console App/bin/Debug
JJSploit\ Extended\ Console\ App/JJSploit Extended Console App/bin/Release
JJSploit\ Extended\ Console\ App/JJSploit Extended Console App/bin
JJSploit\ Extended\ Console\ App/JJSploit Extended Console App/obj/Debug
JJSploit\ Extended\ Console\ App/JJSploit Extended Console App/obj

#JJSploit Extended Server
JJSploit\ Extended\ Server/node_modules
JJSploit\ Extended\ Server/Downloads