/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 1;
}
::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #373737;
}
::-webkit-scrollbar-thumb:active {
    background-color: #3c3c3c;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
    border: 0px;
}
/* body */
body {
    background-color: #191919;
    color: white;
    font-family: "Segoe UI";
    overflow: scroll;
}
/* go to top */
.gotoTop {
    left: -150px;
    top: 45px;
    position: fixed;
    z-index: 1;
    margin: 10px;
    transition: all 0.5s;
}
.gotoTopActive {
    left: 0;
    transition: all 0.5s;
}
.gotoTop p {
    background-color: #05a95c;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}
.gotoTop p:hover {
    background-color: #04fc84;
    transition: all 0.2s;
}
.gotoTop p:hover {
    background-color: #84fbc4;
    transition: all 0.2s;
}
/* navigator bar */
.navigatorBar {
    background-color: #141414;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transition: all 0.5s;
}
.navigatorBarActive {
    background-color: #3c3c3c;
    transition: all 0.5s;
}
.navigatorBar div {
    position: absolute;
    left: 0;
}
.navigatorBar p {
    background-color: transparent;
    margin: 0;
    padding: 12px;
}
.navigatorBar p:hover {
    background-color: #1e1e1e;
    transition: all 0.2s;
}
.navigatorBar p:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.navigatorBar p:active {
    background-color: #282828;
    transition: all 0.2s;
}
/* executor page */
.executorPage {
    top: 45px;
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
}
.executorPage .buttons {
    margin: 10px;
}
.executorPage .buttons button {
    background-color: #1e1e1e;
    color: white;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 0.2s;
    border-radius: 5px;
}
.executorPage .buttons button:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.executorPage .buttons button:active {
    background-color: #282828;
    transition: all 0.2s;
}
.executorPage #editor {
    height: 100%;
}
/* buttons page */
.buttonsPage {
    top: 45px;
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
}
.buttonsPage .column {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}
.buttonsPage .script {
    position: relative;
    width: 100%;
    background-color: #141414;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
}
.buttonsPage .script span {
    font-size: 14px;
    color: gray;
}
.buttonsPage .script p {
    margin: 0;
    margin-top: 5px;
}
.buttonsPage .script button {
    background-color: #1e1e1e;
    position: absolute;
    color: white;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}
.buttonsPage .script button:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.buttonsPage .script button:active {
    background-color: #282828;
    transition: all 0.2s;
}
/* scripts library */
.scriptsLibPage {
    top: 45px;
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
}
.scriptsLibPage .addScript {
    left: 0;
    right: 0;
    margin-left: 5px;
    background-color: #141414;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.scriptsLibPage .addScript .header {
    font-size: 16px;
    color: white;
}
.scriptsLibPage .addScript hr {
    border: 0.2px solid #191919;
}
.scriptsLibPage .addScript p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: gray;
}
.scriptsLibPage .addScript input[type=text] {
    background-color: transparent;
    border: 0.5px solid #1e1e1e;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100vh;
    transition: all 0.2s;
}
.scriptsLibPage .addScript input[type=text]:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.scriptsLibPage .addScript textarea {
    background-color: transparent;
    border: 0.5px solid #1e1e1e;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100vh;
    max-width: 100vh;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.2s;
}
.scriptsLibPage .addScript textarea:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.scriptsLibPage .addScript button {
    background-color: #1e1e1e;
    color: white;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.2s;
}
.scriptLib .addScript button:disabled {
    background-color: #191919;
    color: gray;
    transition: all 0.2s;
}
.scriptsLibPage .addScript button:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.scriptsLibPage .addScript button:active {
    background-color: #282828;
    transition: all 0.2s;
}
.scriptsLibPage .row {
    margin: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
}
.scriptsLibPage .script {
    margin-top: 5px;
    width: 100%;
    background-color: #141414;
    border-radius: 10px;
    padding: 10px;
}
.scriptsLibPage .script h3 {
    margin: 0;
    font-weight: 500;
}
.scriptsLibPage .script p {
    font-size: 14px;
    color: gray;
}
.scriptsLibPage .script .buttons {
    display: flex;
    justify-content: left;
    gap: 5px;
}
.scriptsLibPage .script .buttons button {
    background-color: #1e1e1e;
    color: white;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}
.scriptsLibPage .script .buttons button:hover {
    background-color: #232323;
    transition: all 0.2s;
}
.scriptsLibPage .script .buttons button:active {
    background-color: #282828;
    transition: all 0.2s;
}
.scriptsLibPage .script .content p {
    margin: 0px;
    margin-top: 10px;
}
.scriptsLibPage .script textarea {
    background-color: #1e1e1e;
    border: 0px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100vh;
    max-width: 100vh;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.2s;
}
.scriptsLibPage .script textarea:hover {
    background-color: #232323;
    transition: all 0.2s;
}